<!-- Title -->
<div style="padding-left: 20px; border: 2px #0021A5 solid; background-color: #0021A5">
    <h2 style="color: white; font-family: 'gentona', 'Georgia', serif;"><b>Gator Dining Map</b></h2>
</div>

<!-- display details of specified location -->
<app-overview-detail [location]="selectedLocation"></app-overview-detail>

<div>
  <!-- search bar -->
  <div class="container" style=" padding-top: 20px;">
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control" id="location_search" placeholder="Search" name="location" style="height: 50px;font-size: 30px;font-family: 'gentona', 'Georgia', serif;">
      </div>
    </form>
  </div>

  <!-- dropdown filter options -->
  <div style="padding-left: 20px;padding-bottom: 20px;">
    <span style="font-size: 25px; color: #0021A5; font-family: 'gentona', 'Georgia', serif;">
      <b>Sort by:</b>
    </span>
    <select id="sort_by" style="font-size: 25px;color: #0021A5; font-family: 'gentona', 'Georgia', serif;">
      <option value="ope">Open</option>
      <option value="bui">Building</option>
      <option value="dis">Distance</option>
    </select>
  </div>

  <!-- display list of dining locations -->
  <div id="locations-list">
    <ul class="restaurants">
      <li *ngFor="let location of restaurants" [class.selected]="location === selectedLocation" (click)="onSelect(location)">
        <a href='https://www.google.com/maps/?q= {{location.name}} ' target="_blank">
        <button id="btn_dir" style="float: right;background-color: white;border:none;background-image: url(assets/img_dir.png); height: 40px; width: 40px;"></button>
        </a>
        <p style="float: right;">1.0 km</p>
        <h5 style = "margin: 0; padding-top: 0;" id="display-name"><span class="badge">{{location.id}}</span> {{location.name}}</h5>
        <p style = "margin: 0; padding-top: 0;">Building: {{location.address}}</p>
        <p style= "margin: 0; padding-top: 0;">Open Today: {{location.hours}}</p>
        <p style= "margin: 0; padding-top: 0; color: blue"><a href="https://gatordining.com/menu/" target="_blank" style="color: #0021A5">View Menu</a></p>
      </li>
    </ul>
  </div>
</div>
