<!-- display details of specified location -->
<app-overview-detail [location]="selectedLocation"></app-overview-detail>

<div>
  <!-- search bar -->
  <div class="container" style=" padding-top: 20px;">
    <form action="">
      <div class="form-group">
        <input type="text" class="form-control" id="location_search" placeholder="Search" name="location" style="height: 50px;font-size: 30px;">
      </div>
    </form>
  </div>

  <!-- dropdown filter options -->
  <div style="padding-left: 20px;padding-bottom: 20px;">
    <span style="font-size: 25px; color: black">
      Sort by:
    </span>
    <select id="sort_by" style="font-size: 25px;color: green">
      <option value="ope">Open</option>
      <option value="rec">Recommended</option>
      <option value="dai">Dairy-free Option</option>
      <option value="dis">Distance</option>
    </select>
  </div>

  <!-- display list of dining locations -->
  <div id="locations-list">
    <ul class="restaurants">
      <li *ngFor="let location of restaurants" [class.selected]="location === selectedLocation" (click)="onSelect(location)">
        <h5 style="margin : 0; padding-top:0;" id="display-name"><span class="badge">{{location.id}}</span> {{location.name}}</h5>
        <a href="https://www.google.com/maps" target="_blank" id="directions-link">Directions</a>
        <p style="margin : 0; padding-top:0;">Building: {{location.address}}</p>
        <p style="margin : 0; padding-top:0; color: blue"><a href="https://gatordining.com/menu/" target="_blank">View Menu</a></p>
        <p>Open Today: {{location.hours}}</p>
      </li>
    </ul>
  </div>
</div>
